@media (min-width: 576px) and (max-width: 876px) {
    .img-base-P {
        width: 50%;
    }

    .text-container-base-P {
        width: 50%;
    }

    .img-nave-P {
        display: none;
    }

    
    .buttons-base-P > button {
        font-size: 15px;
    }
    
}

@media (min-width: 0px) and (max-width: 576px) {
    .img-base-P {
        display: none;
    }

    .text-container-base-P {
        width: 100%;
    }

    .img-nave-P {
        display: none;
    }

    .buttons-base-P > button {
        font-size: 15px;
    }

    .text-container-base-P > p {
        font-size: 14px;
    }
}