@media (min-width: 677px) and (max-width: 876px) {
    .img-base-P {
        display: none;
    }

    .text-container-base-P {
        width: 100%;
        height: auto;
    }

    .img-nave-P {
        display: none;
    }
    
    .buttons-base-P > button {
        font-size: 15px;
    }

    .text-container-base-P > p {
        font-size: 25px;
    }
    
}

@media (min-width: 0px) and (max-width: 676px) {
    .img-base-P {
        display: none;
    }

    .text-container-base-P {
        width: 100%;
    }

    .img-nave-P {
        display: none;
    }

    .buttons-base-P > button {
        font-size: 15px;
    }

    .text-container-base-P > p {
        font-size: 25px;
    }
}