<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="expanse.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>expanse</title>
</head>
<body>
    <div class="container-expanse-P">
        <div class="box-expanse-P">

            <div class="group-text-expanse-P">
                <div class="box-text-P 1">
                    <h2>Habitações Lunares</h2>
                    <p>Descubra a serenidade da Lua em nossos refúgios lunares, onde paisagens impressionantes e silêncio cósmico se encontram. </p>
                    <button>saiba mais</button>
                </div>
                <div class="box-text-P 2">
                    <h2>Marte Habitável</h2>
                    <p>Explore o próximo passo da humanidade em Marte, onde cidades sustentáveis surgem no deserto vermelho, proporcionando um ambiente acolhedor para os pioneiros do espaço</p>
                    <button>saiba mais</button>
                </div>
                <div class="box-text-P 3">
                    <h2>Horizonte de Jupiter</h2>
                    <p>Explore o futuro da colonização espacial nas luas de Júpiter, onde paisagens alienígenas oferecem um novo horizonte para a humanidade.</p>
                    <button>saiba mais</button>
                </div>
            </div>

            <div class="categorias-container-P">
                <h2>CATEGORIAS</h2>
                <div>
                    <p><strong>11+</strong><br>COMPLEXOS DE TURISMO EM ÓRBITA</p>
                    <p><strong>35+</strong><br>Colônias Lunares</p>
                    <p><strong>50+</strong><br>MODELOS DE HABITAÇÕES MARCIANAS</p>
                    <p><strong>98+</strong><br>ESTAÇÕES ESPACIAIS DE LUXO</p>
                    <p><strong>107+</strong><br>BIOSFERAS AUTOSSUSTENTÁVEIS</p>
                </div>
            </div>
            
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                  <div class="swiper-slide">
                    <picture class="img-card-P">
                        <div class="box-text-card-P">
                            <h2>Luas Jupiter</h2>
                            <p>Conheça o melhor do conforto nas luas de jupiter</p>
                            <div>
                                <div><i class="fa-solid fa-house"></i><p>300  avaliable</p></div>
                            </div>
                        </div>
                    </picture>
                  </div>
                </div>
            </div>





        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../assets/js/carousel-expanse.js"></script>
</html>