<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="expanse.css">
    <title>expanse</title>
</head>
<body>
    <div class="container-expanse-P">
        <div class="box-expanse-P">

            <div class="group-text-expanse-P">
                <div class="box-text-P 1">
                    <h2>Habitações Lunares</h2>
                    <p>Descubra a serenidade da Lua em nossos refúgios lunares, onde paisagens impressionantes e silêncio cósmico se encontram. </p>
                    <button>saiba mais</button>
                </div>
                <div class="box-text-P 2">
                    <h2>Marte Habitável</h2>
                    <p>Explore o próximo passo da humanidade em Marte, onde cidades sustentáveis surgem no deserto vermelho, proporcionando um ambiente acolhedor para os pioneiros do espaço</p>
                    <button>saiba mais</button>
                </div>
                <div class="box-text-P 3">
                    <h2>Horizonte de Jupiter</h2>
                    <p>Explore o futuro da colonização espacial nas luas de Júpiter, onde paisagens alienígenas oferecem um novo horizonte para a humanidade.</p>
                    <button>saiba mais</button>
                </div>
            </div>

            <div class="categorias-container-P">
                <h2>CATEGORIAS</h2>
                <div>
                    <p><strong>11+</strong><br>COMPLEXOS DE TURISMO EM ÓRBITA</p>
                    <p><strong>35+</strong><br>Colônias Lunares</p>
                    <p><strong>50+</strong><br>MODELOS DE HABITAÇÕES MARCIANAS</p>
                    <p><strong>98+</strong><br>ESTAÇÕES ESPACIAIS DE LUXO</p>
                    <p><strong>107+</strong><br>BIOSFERAS AUTOSSUSTENTÁVEIS</p>
                </div>
            </div>
            
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                  <div class="swiper-slide">Slide 5</div>
                  <div class="swiper-slide">Slide 6</div>
                  <div class="swiper-slide">Slide 7</div>
                  <div class="swiper-slide">Slide 8</div>
                  <div class="swiper-slide">Slide 9</div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            
        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../assets/js/carousel-expanse.js"></script>
</html>