@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/Imagens/foto-bg-estrelas.jpg);
}

.container-expanse-P {
    display: flex;
    width: min(1500px, 95%);
    justify-content: center;
    background-image: url(../assets/Imagens/the-expansive.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-expanse-P {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    color: white;
    position: relative;
}

.group-text-expanse-P {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.categorias-container-P {
    display: flex;
    background-color: white;
    color: black;
    width: 100%;
}

.categorias-container-P > div {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}

.swiper {
    width: 100%;
    margin-top: 30px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .box-text-card-P {
    color: white;
    font-weight: 100;
  }

  .card-navegation-P {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .pagination {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    color: black;
    margin-bottom: 20px;
  }

  .img-card-P {
    display: flex;
    width: 100%;
    height: 55%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/Imagens/vadim-sadovski-f3\ 1.png);
  }

  .box-text-card-P {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    height: 40%;
    justify-content: space-between;
  }

  .title-box-P {

  }